<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vulture's PIX</title>
    <link rel="stylesheet" type="text/css" href="../static/css/price.css">
</head>
<body>
<header class="box">
    <img src="../static/images/logo.png" alt="Logo da Vulture's PIX">
</header>

<main>
    <form class="box">
        <p>Aguardando Pagamento ...</p>
        <br>
        <img src="../static/images/image.jpg" alt="ERRO TENTE NOVAMENTE">
        <br>
        <input type="submit" name="cancelarTran" value="Cancelar Transação">
    </form>
</main>

<footer>
    &copy; Vulture's PIX, julho 2077, todos os direitos reservados a ninguém.
</footer>

<script>
    // Function to send a request and check the response
    function sendRequest() {
        // Make a POST request to your Flask endpoint
        fetch('/confirmation', {
            method: 'POST',
            body: JSON.stringify({}),
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => response.text())
        .then(data => {
            // Check if the response is true
            console.log(data)
            if (data === "True") {
                // Redirect to another page
                window.location.href = '/finished';
            }
        });
    }

    // Set an interval to send requests every X milliseconds
    const interval = setInterval(sendRequest, 1000); // Adjust the interval as needed (e.g., every second)
</script>
</body>
</html>