<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vulture's PIX</title>
    <link rel="stylesheet" type="text/css" href="../static/css/price.css">
</head>
<body>
<header class="box">
    <img src="../static/images/logo.png" alt="Logo da Vulture's PIX">
</header>

<main>
    <form class="box">
        <p>Aguardando Pagamento ...</p>
        <br>
        <img src="data:image/jpeg;base64,{{ qrcode_image }}" alt="ERRO TENTE NOVAMENTE">
        <br>
        <input type="submit" name="cancelarTran" value="Cancelar Transação">
    </form>
</main>

<footer>
    &copy; Vulture's PIX, julho 2077, todos os direitos reservados a ninguém.
</footer>
</body>
</html>